.box-bin { }

.button-box {
    spacing: 6px;
}

.box-bin .window-button {
    width: 30px;
    height: 30px;
}

.minimize {
    background-image: url("minimize_focused_normal.svg");
}

.minimize:hover {
    background-image: url("minimize_focused_prelight.svg");
}

.minimize:active {
    background-image: url("minimize_focused_pressed.svg");
}

.maximize {
    background-image: url("maximize_focused_normal.svg");
}

.maximize:hover {
    background-image: url("maximize_focused_prelight.svg");
}

.maximize:active {
    background-image: url("maximize_focused_pressed.svg");
}

.close {
    background-image: url("close_focused_normal.svg");
}

.close:hover {
    background-image: url("close_focused_prelight.svg");
}

.close:active {
    background-image: url("close_focused_pressed.svg");
}
